{% extends 'layout.html' %}
{% block content %}
<div class="mx-5 my-5">
    <h1>Welcome, {{user.fname}}</h1>
    <div class="nav-wrapper d-flex justify-content-between">
        <p class="lead">All posted recipes:</p>
        {% with messages =  get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="link-wrapper">
            <a href="/recipes/new" class="btn btn-success">Create</a>
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Under 30</th>
                <th scope="col">Posted By</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>{{recipe.name}}</td>
                    <td>{% if recipe.under_30 %}
                            <span>Yes</span>
                        {% else %}
                            <span>No</span>
                        {% endif %}
                    </td>
                    <td>{{recipe.user.fname}}</td>
                    {% if recipe.user_id == user.id %}
                        <td>
                            <a href="#">View</a> | 
                            <a href="/recipes/edit/{{recipe.id}}">Edit</a> | 
                            <a href="/recipes/delete/{{recipe.id}}">Delete</a>
                        </td>
                    {% else %}
                        <td><a href="#">View</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}